.card--info:hover {
  cursor: pointer;
  color: #00aeff;
}

.container--entries {
  display: none;
}

.container--student-form {
  display: none;
}

.container--entry-form {
  display: none;
}

.container--edit-student-form {
  display: none;
}

.alert {
  display: none;
}